<div class="navbar navbar-expand-sm navbar-light navbar-lewagon px-4 <%= 'navbar-home fixed-top' if action_name == 'home' %>" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "wow-logo.png" %>
    <% end %>

    <%= form_tag events_path, method: :get, class: action_name == "home" ? "d-none" : "" do %>
      <div class="row g-0" id="search">
        <div class="col-md-12">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a class"
          %>
        </div>
        <button class="btn-search"><i class="fas fa-search fa-2xs"></i></button>
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Dashboard", dashboard_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown ms-2">
            <%= cl_image_tag current_user.avatar.key, height: 40, width: 40, crop: :fill, class: "avatar-small dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="notification">
              <%=
                if (current_user && current_user.chatrooms)
                  @chatrooms = (current_user.chatrooms + Chatroom.where(studio: current_user.studios)).uniq
                  if (@chatrooms.count > 0)
                    unread = @chatrooms.map { |cr| cr.messages.select { |m| m.read == false && m.user != current_user }.count }.sum
                    unread if unread > 0
                  end
                end
              %>
            </div>

            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if !current_user.studios.empty? %>
                <%= link_to "Messages", chatrooms_path, class: "dropdown-item" %>
                <%= link_to "Create new class", new_event_path, class: "dropdown-item" %>
              <% else %>
                <%= link_to "Create a Studio", new_studio_path, class: "dropdown-item" %>
              <% end %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
