<div class="d-flex">
  <div class="container class-list my-2">
    <h2><%= @events.count %> classes found</h2>
    <% @events_group.each do |date_time, events| %>
    <div class="card-events mb-4">
      <p class="mb-1"><%= date_time[0].strftime("%e %b %Y") %>, <%= date_time[1] %></p>
      <hr class="mt-0">
      <% events.each do |event| %>
        <%= link_to event_path(event) do  %>
          <div class="card-event">
            <%= cl_image_tag event.photo.key %>
            <div class="card-event-infos">
              <h2><%= event.name %></h2>
              <p><em>by <%= event.studio.name %></em></p>
              <p><i class="fas fa-user-friends"></i> <%= event.bookings.count %> / 15</p>
              <p><%= event.date.strftime("%e %b %Y") %>, <%= event.time.strftime('%I:%M %p') %></p>
            </div>
            <div class="card-event-price">
              <strong>IDR <%= number_with_delimiter(event.price, :delimiter => '.') %></strong>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="map" style="width: 100%; height: 100vh;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
