<div data-controller="filter-events">
  <div class="filters d-flex justify-content-between p-2">
    <%= simple_form_for :event, url: events_path, method: :post, remote: true, html: { class:"filters d-flex text-white mb-0", data: { filter_events_target: 'form' } } do |f| %>
      <div class="form-group d-flex align-items-center me-4 justify-content-between">
        <label for="field-1" class="col-sm-3 control-label">Category</label>
        <div class="d-flex align-items-center">
        <%= f.input :category, :required => false,
                      collection: Event::CATEGORIES, label: false,
                      input_html: { \
                        "data-filter-events-target": "inputCategory", \
                        "data-action": "change->filter-events#updateList" \
                      }
                    %>
        </div>
      </div>
      <div class="form-group d-flex align-items-center me-4 justify-content-between">
        <label for="field-1" class="col-sm-3 control-label">Date</label>
        <div class="d-flex align-items-center">
        <%= f.input :date, as: :date, :required => false, html5: true, label: false,
                    wrapper_html: { class:"d-flex align-items-center me-4" },
                    input_html: { \
                      "data-filter-events-target": "inputDate", \
                      "data-action": "input->filter-events#updateList" \
                    }
                  %>
        </div>
      </div>
      <div class="form-group d-flex align-items-center me-4 justify-content-between">
        <label for="field-1" class="col-sm-3 control-label">Time</label>
        <div class="d-flex align-items-center">
        <%= f.input :time, as: :time, :required => false, html5: true, label: false,
                    wrapper_html: { class:"d-flex align-items-center me-4" },
                    input_html: {
                      "data-filter-events-target": "inputTime",
                      "data-action": "input->filter-events#updateList",
                      step: 1800
                    }
                  %>
        </div>
      </div>
    <% end %>
    <div>
      <ul class="nav nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">List View</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Calendar View</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <%= render 'class_lists', events: @events, events_group: @events_group %>
    </div>
    <div class="tab-pane fade container" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <%= week_calendar(events: @meetings) do |date, meetings| %>
        <strong><%= date.strftime("%e %b %Y") %></strong>
        <hr>

        <% meetings.each do |meeting| %>
          <div class="meeting card p-2">
            <p><%= meeting.time.strftime('%k:%M') %> - <%= meeting.name %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
