<div data-controller="filter-events">
  <%= simple_form_for :event, url: events_path, remote: true, html: { class:"filters d-flex p-2 text-white", data: { filter_events_target: 'form' } } do |f| %>
    <%= f.input :category,
                  collection: Event::CATEGORIES,
                  input_html: { \
                    "data-filter-events-target": "input", \
                    "data-action": "change->filter-events#dropdown" \
                  }
                %>
    <%= f.input :date, as: :date, html5: true %>
    <%= f.input :time, as: :time, html5: true %>
  <% end %>

  <div class="d-flex">
    <div class="container class-list my-2">
      <h2><%= pluralize @events.count, "class" %> found</h2>
      <% @events_group.each do |date_time, events| %>
      <div class="card-events mb-4">
        <p class="mb-1"><%= date_time[0].strftime("%e %b %Y") %>, <%= date_time[1] %></p>
        <hr class="mt-0">
        <% events.each do |event| %>
          <%= link_to event_path(event) do  %>
            <div class="card-event mx-2">
              <%= cl_image_tag event.photo.key %>
              <div class="card-event-infos">
                <h2><%= event.name %></h2>
                <p><em>by <%= event.studio.name %></em></p>
                <p><i class="fas fa-user-friends"></i> <%= event.bookings.count %> / 15</p>
                <p><%= event.date.strftime("%e %b %Y") %>, <%= event.time.strftime('%I:%M %p') %></p>
              </div>
              <div class="card-event-price">
                <strong>IDR <%= number_with_delimiter(event.price, :delimiter => '.') %></strong>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <% end %>
    </div>
    <%= render 'shared/map' %>
  </div>
</div>
