<div data-controller="filter-events">
  <%= simple_form_for :event, url: events_path, method: :post, remote: true, html: { class:"filters d-flex p-2 text-white mb-0", data: { filter_events_target: 'form' } } do |f| %>
    <div class="form-group d-flex align-items-center me-4 justify-content-between">
      <label for="field-1" class="col-sm-3 control-label">Category</label>
      <div class="d-flex align-items-center">
      <%= f.input :category, :required => false,
                    collection: Event::CATEGORIES, label: false,
                    input_html: { \
                      "data-filter-events-target": "inputCategory", \
                      "data-action": "change->filter-events#updateList" \
                    }
                  %>
      </div>
    </div>
    <div class="form-group d-flex align-items-center me-4 justify-content-between">
      <label for="field-1" class="col-sm-3 control-label">Date</label>
      <div class="d-flex align-items-center">
      <%= f.input :date, as: :date, :required => false, html5: true, label: false,
                  wrapper_html: { class:"d-flex align-items-center me-4" },
                  input_html: { \
                    "data-filter-events-target": "inputDate", \
                    "data-action": "input->filter-events#updateList" \
                  }
                %>
      </div>
    </div>
    <div class="form-group d-flex align-items-center me-4 justify-content-between">
      <label for="field-1" class="col-sm-3 control-label">Time</label>
      <div class="d-flex align-items-center">
      <%= f.input :time, as: :time, :minute_step => 30, :required => false, html5: true, label: false,
                  wrapper_html: { class:"d-flex align-items-center me-4" },
                  input_html: { \
                    "data-filter-events-target": "inputTime", \
                    "data-action": "input->filter-events#updateList" \
                  }
                %>
      </div>
    </div>
  <% end %>
</div>
<%= render 'class_lists', events: @events, events_group: @events_group %>
