<div data-controller="filter-events">
  <%= simple_form_for :event, url: events_path, method: :post, remote: true, html: { class:"filters d-flex p-2 text-white mb-0", data: { filter_events_target: 'form' } } do |f| %>
    <%= f.input :category,
                  collection: Event::CATEGORIES,
                  wrapper_html: { class:"d-flex align-items-center me-4 mb-0" },
                  input_html: { \
                    "data-filter-events-target": "inputCategory", \
                    "data-action": "change->filter-events#updateList" \
                  }
                %>
    <%= f.input :date, as: :date, html5: true,
                  wrapper_html: { class:"d-flex align-items-center me-4 mb-0" },
                  input_html: { \
                    "data-filter-events-target": "inputDate", \
                    "data-action": "input->filter-events#updateList" \
                  }
                %>
    <%= f.input :time, as: :time, html5: true,
                  wrapper_html: { class:"d-flex align-items-center me-4 mb-0" },
                  input_html: { \
                    "data-filter-events-target": "inputTime", \
                    "data-action": "input->filter-events#updateList" \
                  }
                %>
  <% end %>

  <%= render 'class_lists', events: @events, events_group: @events_group %>
</div>
