<% content_for :meta_title, "#{@event.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @event.description %>
<% content_for :meta_image, cl_image_path(@event.photo.key) %>
<div class="container pb-5" data-controller="popup">
  <div class="card-wrapper align-items-end mt-5 mb-5">
    <div class="card-show h-100">
      <div class="card-image h-100" style="background-image: url( <%= cl_image_path @event.photo.key, height: 400, crop: :fill%>)"></div>
    </div>
    <div class="card-show h-100 d-flex flex-column justify-content-between">
      <div class="card-show-name">
        <h2><%= @event.name %> </h2>
        <p> <em> with <%= @event.instructor %></em></p>
        <div style="margin-top: -15px ">
          <span class="fa fa-star icon-star"></span>
          <span class="fa fa-star icon-star"></span>
          <span class="fa fa-star icon-star"></span>
          <span class="fa fa-star icon-empty"></span>
          <span class="fa fa-star icon-empty"></span>
        </div>
        <div class="mt-2">
        <p style="font-size: 30px"> <strong><%= humanized_money_with_symbol(@event.price) %></strong></p>
        </div>
      </div>
      <div class="d-flex">
          <%# <p><i class="fas fa-calendar-alt"></i></p> %>
          <p>  <%= @event.date.strftime("%e %b %Y") %>, <%= @event.time.strftime('%I:%M %p') %></p>
      </div>
      <div class="item-details d-flex">
        <div class="me-2">
          <p><i class="far fa-chart-bar"></i></i></p>
          <p><i class="fas fa-location-arrow"></i></p>
        </div>
        <div class="me-2">
          <p>  <%= @event.level %> Class</p>
          <p>  <%= @event.studio.address %></p>
        </div>
      <div class="item-value d-flex">
      <div class="me-2">
        <p><i class="far fa-hourglass"></i></p>
        <p><i class="fas fa-user-friends"></i> </p>
      </div>
        <div class="me-2">
          <p>  <%= @event.duration %> minutes</p>
          <p>  <%= @event.bookings.where.not(status: "Cancelled").count %> / <%= @event.limit_attendees %> Booked</p>
        </div>
      </div>
      </div>
          <div class="item-button">
            <% if current_user && current_user.bookings.where.not(status: "Cancelled").pluck(:event_id).include?(@event.id) %>
            <button type="button" class="btn btn-primary disabled border-success bg-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Booked
            <% elsif @event.limit_attendees <= @event.bookings.where.not(status: "Cancelled").count %>
            <button type="button" class="btn btn-primary disabled border-info bg-info" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Class Full
            <% else %>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              Book Now
            <% end %>
          </button>
            <% if user_signed_in? %>
              <% if current_user.favorited?(@event) %>
                <%= link_to event_unfavourite_path(@event), method: :delete, remote: true do %>
                  <i style="color: red;" class="fas fa-heart fa-2x"></i>
                <% end %>
              <% else %>
                <%= link_to event_favourite_path(@event), method: :post, remote: true do %>
                  <i style="color: red;" class="far fa-heart fa-2x"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
      <!-- Modal -->
    <%= render 'booking' %>
    </div>
  </div>
  <div class="card-wrapper bottom">
    <div class="card-show">
      <div class="card-schedule">
        <div class="border-0 mb-4">
          <h4>More classes</h4>
          <%# <hr class="mt-0"> %>
        </div>
        <%# Class list start here %>
        <div class="card-class-show">
        <%= render 'studios/class_list', events: @events, events_group: @events_group %>
        </div>
        <%# class list end here %>
      </div>
    <%= render 'reviews/review_form' %>
    </div>
    <div class="card-show">
      <div class="card-show-infos">
        <div class="border-0 mb-4">
          <h4>Contact Us</h4>
          <%# <hr class="mt-0"> %>
        </div>
        <div class="card-event card-details">
          <%= link_to studio_path(@event.studio) do%>
          <%= cl_image_tag @event.studio.avatar.key%>
          <% end %>
          <div class="m-0">
          <p>Email : <%= @event.studio.email %> </p>
          <p> Phone : <%= @event.studio.phone_number %> </p>
          </div>
          <div class="d-flex align-items-center m-2">
            <%= link_to studio_path(@event.studio) do%>
            <i class="fas fa-info-circle fa-2x"></i>
            <% end %>
            <button type="button" class="btn" data-action="click->popup#show">
              <i class="far fa-comments fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="event-map mt-1">
          <%# <h4>Where to find us</h4> %>
          <%= render 'shared/map' %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if @chatroom %>
      <%= render 'chatrooms/popup' %>
    <% end %>
  <% end %>
</div>
