<div class="container pb-5" data-controller="popup">
  <div class="card-wrapper  align-items-end mt-5 mb-5">
    <div class="card-show h-100">
      <div class="card-image h-100" style="background-image: url( <%= cl_image_path @event.photo.key, height: 400, crop: :fill%>)"></div>
    </div>
    <div class="card-show h-100 d-flex flex-column justify-content-between">
      <div class="card-show-name">
        <h2><%= @event.name %> </h2>
        <p> <em> with <%= @event.instructor %></em></p>
      </div>
      <div class="item-details d-flex">
        <div class="me-2">
        <p><i class="far fa-chart-bar"></i></i></p>
        <p><i class="fas fa-location-arrow"></i></p>
        <p><i class="fas fa-calendar-alt"></i></p>
        <p><i class="far fa-hourglass"></i></p>
        <p><i class="fas fa-user-friends"></i> </p>
        <p><i class="fas fa-money-bill"></i></p>
        </div>
      <div class="item-value">
          <p>  <%= @event.level %> Class</p>
          <p>  <%= @event.studio.address %></p>
          <p>  <%= @event.date.strftime("%e %b %Y") %>, <%= @event.time.strftime('%I:%M %p') %></p>
          <p>  <%= @event.duration %> minutes</p>
          <p>  <%= @event.bookings.count %> / <%= @event.limit_attendees %> Booked</p>
          <p>  <%= humanized_money_with_symbol(@event.price) %></p>
      </div>
      </div>
          <div class="item-button">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Book Now
          </button>
            <% if user_signed_in? %>
              <% if current_user.favorited?(@event) %>
                <%= link_to event_unfavourite_path(@event), method: :delete, remote: true do %>
                  <i style="color: red;" class="fas fa-heart fa-2x"></i>
                <% end %>
              <% else %>
                <%= link_to event_favourite_path(@event), method: :post, remote: true do %>
                  <i style="color: red;" class="far fa-heart fa-2x"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header bg-black h-50">
              <%= link_to root_path, class: "navbar-brand" do %>
                <%= image_tag "wow-logo.png", id:"icon" %>
              <% end %>
              <h5 class="modal-title text-white" id="exampleModalLabel"><%= @event.name %></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="card-image-modal" style="background-image: url( <%= cl_image_path @event.photo.key, height: 400, crop: :fill%>)"></div>
              <div class="modal-card lh-sm">
                  <div class="item-details d-flex justify-content-center mt-3">
                    <div class="p-2">
                      <p><i class="fas fa-location-arrow"></i> </p>
                      <p><i class="fas fa-calendar-alt"> </i></p>
                      <p><i class="fas fa-user-friends"> </i> </p>
                      <p><i class="fas fa-money-bill"> </i></p>
                    </div>
                    <div class="p-2">
                      <p> <%= @event.studio.address %></p>
                      <p> <%= @event.date.strftime("%e %b %Y") %>, <%= @event.time.strftime('%I:%M %p') %></p>
                      <p> <%= @event.bookings.count %> / <%= @event.limit_attendees %> Booked</p>
                      <p> <%= humanized_money_with_symbol(@event.price) %></p>
                    </div>
                  </div>
                </div>
              </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <%= link_to "Book Now",event_bookings_path(@event), method: :post, class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-wrapper bottom">
    <div class="card-show">
      <div class="card-schedule">
        <div class="border-0 mb-4">
          <h4>More classes</h4>
          <%# <hr class="mt-0"> %>
        </div>
        <%# Class list start here %>
        <div class="card-class-show">
        <%= render 'studios/class_list', events: @events, events_group: @events_group %>
        </div>
        <%# class list end here %>
      </div>

      <div class="card-review-list border-0 mb-4 pt-3">
      <h4>Reviews:</h4>
      <div class="card-review-box">
        <% if @reviews.blank? %>
        Be the first to leave a review for <%= @event.name %>
        <% else %>
        <% @reviews.each do |review| %>
          <div class="card-review mb-3">
            <h2> <%= review.booking.event.name %> </h2>
            <p><%= review.content %></p>
            <div class="card-review-stars">
              <p>
                <% review.rating.to_i.times do %>
                  <i class="fas fa-star text-warning"></i>
                <% end %>
              </p>
            </div>
          </div>
              <% end %>
        <% end %>
      </div>
      </div>
    </div>
    <div class="card-show">
      <div class="card-show-infos">
        <div class="border-0 mb-4">
          <h4>Contact Us</h4>
          <%# <hr class="mt-0"> %>
        </div>
        <div class="card-event card-details">
          <%= link_to studio_path(@event.studio) do%>
          <%= cl_image_tag @event.studio.avatar.key%>
          <% end %>
          <div class="m-0">
          <p>Email : <%= @event.studio.email %> </p>
          <p> Phone : <%= @event.studio.phone_number %> </p>
          </div>
          <div class="d-flex align-items-center m-2">
            <%= link_to studio_path(@event.studio) do%>
            <i class="fas fa-info-circle fa-2x"></i>
            <% end %>
            <button type="button" class="btn" data-action="click->popup#show">
              <i class="far fa-comments fa-2x"></i>
            </button>
          </div>
        </div>
        <div class="event-map mt-1">
          <%# <h4>Where to find us</h4> %>
          <%= render 'shared/map' %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? %>
    <% if @chatroom %>
      <%= render 'chatrooms/popup' %>
    <% end %>
  <% end %>
</div>
