<div class="container">
    <h2>Dashboard</h2>
    <div class="d-flex mt-3">
      <%= cl_image_tag current_user.avatar.key, class: "avatar-large" %>
      <div class="ms-4">
        <p class="m-0"><strong><%= current_user.first_name %> <%= current_user.last_name %></strong></p>
        <p class="m-0"><%= current_user.email %></p>
      </div>
    </div>
  <div class="my-4">
    <h3>My Bookings</h3>
    <% @bookings_of_user.each do |booking_of_user| %>
      <div class="card-product mt-3 d-flex justify-content-between">
        <%= cl_image_tag booking_of_user.event.photo.key %>
        <div class="card-product-infos">
          <h2><%= booking_of_user.event.name %></h2>
          <p>Date, Time: <%= booking_of_user.event.date.strftime("%e %b %Y") %> - <%= booking_of_user.event.time.strftime('%I:%M %p') %></p>
          <p>Status: <%= booking_of_user.status %></p>
          <h3>Total Price: <strong>IDR <%= number_with_delimiter(booking_of_user.total_price, :delimiter => '.') %></strong></h3>
        </div>
      </div>
      <% end %>
    </div>
</div>
