<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path "homepage.jpg" %>');">
  <div class="container d-flex flex-column align-items-center">
    <%= image_tag "wow-logo.png", class:"logo" %>
    <h1 class="text-center">First, find your sport.</h1>
    <%= form_tag events_path, method: :get do %>
      <div class="d-flex justify-content-center">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control banner-input me-2",
          placeholder: "Yoga, surfing, crossfit,..."
        %>
        <button class="btn btn-primary">Search</button>
      </div>
    <% end %>
    <div>
    <a href="#scroll"><i class="fas fa-angle-down fa-lg"></i></a>
    </div>
  </div>
</div>
<div class="container-category" id="scroll">
  <h3 class="quote text-center">
    What kind of sports will WOW you today?
  </h3>
  <div class="container text-center">
    <div class="cards-vertical">
      <% @categories.each do |category| %>
        <%= link_to events_path(category: category) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path "#{category}.jpg" %>)">
            <%= category %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container-reviews">
  <h3 class="text-center">Check out what customers have to say</h3>
  <div class="row d-flex justify-content-center">
    <%= render 'shared/card_review_large' %>
    <%= render 'shared/card_review_large' %>
    <%= render 'shared/card_review_large' %>
    <%= render 'shared/card_review_large' %>
  </div>
</div>
